body 
{
    background-color: #fafafa;
	margin: 0;
}
h1
{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	color: #3a506b;
}

p 
{
	font-size: 0.8em;
	text-align: center;

}
h2
{
	text-align: center;
	color: #5bc0be;
	font-size: 1.8em;
}

h3
{
	color: #aaaaaa;
	text-align: center;
	font-size: 1.1em;
}
ul
{
	list-style-type: none;
}


.section
{
	border-style: dotted;
	border-color: #3a506b;
	border-width: 2px;
	border-radius: 15px;
	width: 95%;
	position: relative;
	margin: 20px auto;
	padding: 10px;
	overflow: auto;
}

#header1
{
	background-color: #fafafa;
	padding: 0px;
}
#outer
{
	background-color: #fafafa
}
#container
{
	background-image: -webkit-linear-gradient(top,#1c2541,#0b132b);
    background-image: -moz-linear-gradient(top,#1c2541,#0b132b);
    background-image: -ms-linear-gradient(top,#1c2541,#0b132b);
    background-image: -o-linear-gradient(top,#1c2541,#0b132b);
    background-image: linear-gradient(top,#1c2541,#0b132b);
    background-attachment: fixed;
    background-color: #0b132b;
	color: #fafafa;
	padding: 5px;
	width: 70%;
	margin: 0 auto;
	border-radius: 15px;
	position: relative;
	overflow: auto;

}

h1 > a:link
{
	color: #0b132b;
	text-decoration: none;
}
h1 > a:visited
{
	color: #0b132b;
	text-decoration: none;
}

h2 > a:link
{
	color: #ffdc00;
	text-decoration: none;
}
h2 > a:visited
{
	color: #ffdc00;
}

h2 > a:hover
{
	color: #3a506b;
}


.subtitle
{
	font-size: 1.1em;
}

.spacing
{
	padding: 10px;
}



.clearfix 
{
	zoom: 1;
	overflow: auto;
}