/*Colors
Off-white #fafafa
	Main background/text color/links
Light Blue #5bc0be
	Accent color/headings/link
Medium Blue #3a506b;
	Accent color/border color
Dark Blue #0b132b
	Main content background color/title color
Orange color #f9bd6d
	Shipping ticket
	
*/



/*Main stuff*/
body 
{
    background-color: #fafafa;
	margin: 0;
}
p 
{
	font-size: 1em;
	text-align: center;
}
h2
{
	text-align: center;
	color: #5bc0be;
	font-size: 1.8em;
}
h3
{
	color: #aaaaaa;
	text-align: center;
	font-size: 1.1em;
}
ul
{
	list-style-type: none;
}
h1 > a:link
{
	color: #0b132b;
	text-decoration: none;
}
h1 > a:visited
{
	color: #0b132b;
	text-decoration: none;
}
h2 > a:link
{
	text-decoration: none;
}
h2 > a:hover
{
	color: #3a506b;
}
a.WS:link
{
	color: #fafafa;
	text-decoration: none;
}
a.WS:visited
{
	color: #5bc0be;
	text-decoration: none;
}
a.WS:hover
{
	color: #5bc0be;
	text-decoration: underline;
}
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
}




/*IDs*/
#outer
{
	background-color: #fafafa
}
#container
{
    background-color: #0b132b;
	color: #fafafa;
	padding: 5px;
	width: 80%;
	margin: 0 auto;
	border-radius: 15px;
	position: relative;
	overflow: auto;
}
#safety
{
	border-style: solid;
	border-color: #3a506b;
	border-width: 2px;
	border-radius: 15px;
	width: 55%;
	position: relative;
	margin: 20px auto;
	padding: 10px;
	overflow: auto;
}
#button
{
	float: right;
}

#location {
   min-height: 500px;
   padding: 0 20px;
}

#map {
   width: 100%;
   min-height: 300px;
}

/*Classes*/
.about-section-left
{
	float: left;
	width: 49%;
	height: 200px;
	background-color: #0b132b;
	color: #fafafa;
	padding: 20px;
	border-radius: 15px;
	overflow: hidden;
	border-style: dashed;
	border-color: #3a506b;
}
.about-section-right
{
	float: right;
	height: 200px;
	background-color: #0b132b;
	color: #fafafa;
	padding: 20px;
	border-radius: 15px;
	overflow: hidden;
	width: 49%;
	border-style: dashed;
	border-color: #3a506b;
	border-width: 3px;
}
.section
{
	border-style: dotted;
	border-color: #3a506b;
	border-width: 2px;
	border-radius: 15px;
	width: 95%;
	position: relative;
	margin: 20px auto;
	padding: 10px;
	overflow: auto;
}
.section-2
{
	background-color: #0b132b;
	color: #fafafa;
	padding: 5px;
	width: 80%;
	height: 200px;
	margin: 0 auto;
	border-radius: 15px;
	position: relative;
	overflow: auto;
	border-style: dashed;
	border-color: #3a506b;
	border-width: 3px;
}
.spacing
{
	padding: 10px;
}
.spacing-2
{
	width: 80%;
	padding: 5px;
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nostyle
{
	border: 0;
}
.spacing-3
{
	margin-bottom: 150px;
}
.big-link:hover
{
	color: #fafafa;
}
.big-link
{
	color: #5bc0be;
}
.subtitle
{
	font-size: 1.1em;
	color: #235b5a;
}
.WSafety
{
	font-size: 1.2em;
	color: #aaaaaa;
}
.left
{
	text-align: left;

}
.ulSquare
{
	list-style-type: square;
}
.ulSquare > li
{
	margin-bottom: 15px;
}
.clearfix 
{
	zoom: 1;
	overflow: auto;
}