.snoodForm
{
	padding: 10px;
	width: 70%;
	text-align: left;
	float: right;
	border-style: solid;
	border-radius: 15px;
}
.snoodChoice
{
	padding: 5px;
	width: 25%;
	text-align: center;
	float: left;

}
img
{
	display: block;
	margin: auto;
	border-width: 2px;
	border-color: #000;
}
.snoodForm p
{
	text-align: left;
}
fieldset
{
	border: 0;
}
.larger
{
	font-size: 1.4em;
}