.snoodForm
{
	padding: 5px;
	width: 60%;
	text-align: left;
	float: right;
}
.snoodChoice
{
	padding: 5px;
	width: 20%;
	text-align: center;
	float: left;
}
img
{
	display: block;
	margin: auto;
	border-width: 2px;
	border-color: #000;
}