.pls-center
{
	position: relative;
	margin: 20px auto 20px auto;
	padding: 10px;
	display: inline-block;
}

.cover 
{
    width: 325px;
    height: 325px;
    display: inline-block;
    background-size: cover;
}

.cover:hover 
{
    border-width: 5px;
	border-style: dashed; 
	border-color: #5bc0be; 
	border-radius: 3px;
}

.cover.playing 
{
    border-width: 5px;
	border-style: solid; 
	border-color: #5bc0be; 
	border-radius: 3px;
}