body {
font-family: 'Gruppo', sans-serif;
background-color: #eff4fc;
}
h1 {
	font-size: 3em;
	text-align: center;
	font-family: 'Satisfy', cursive;
}
h2 {
	font-size: 1.6em;
	text-align: center;
}
a {
	text-decoration: none;
	color: #4c4b63;
}
a:visited, a:link
{
	text-decoration: none;
	color: #4c4b63;
}
h1 > a:link
{
	color: #4c4b63;
	text-decoration: none;
}

/*Classes*/

.wrapper {
	
}

.section {
	float: right;
	width: 80%;
	background-color: #c3c3c3;
	color: #949396;
	font-size: 1.5em;
	border-radius: 3px;
	padding: 10px;
}
.section > a:hover {
	color: #4c4b63;
	text-decoration: underline overline;
}

.img-circle {
    border-radius: 50%;
	width: 100%;
}

.navigation {
	float: left;
	width: 14%;
	font-size: 1.8em;
	color: #c3c3c3;
}

nav > a:hover {
	color: #4c4b63;
	text-decoration: underline overline;
}
/*IDs*/