.wrapper
{
	width: 90%;
	margin: auto;
}
a
{
	text-decoration: none;
}
*
{
	box-sizing: border-box;
}
h1
{
	font-size: 3em;
	margin-left: 25px;
	color: #3a506b;
	text-align: center;
}
.titlebar::after
{
	content: '';
	display: block;
	background: #0b132b;
	height: 5px;
}

.menu a
{
	float: left;
	width: 20%;
	background: #fafafa;
	background-color: #0b132b;
}
.menu>a:first-child
{
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.menu>a:last-child
{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
nav a
{
	color: #fafafa;
	background-color: #0b132b;
	display: inline-block;
	padding: 17px 25px;
	text-align: center;
}

a.nav-link:hover, a.nav-link:before
{
	color: #fafafa;
	background: #5bc0be;
}
.status-bar
{
	background-color: #fafafa;
	height: 30px;
	width: 100%;
	display: block;
	clear: both;
}
.cart-link
{
	float: right;
	font-size: 1.2em;
	text-decoration: none;
	padding: 5px;
	padding-right: 15px;
	
}
a.cart-link:hover, a.cart-link:before;
{
	color: #fafafa;
	background: #5bc0be;
}
.cart-link:visited
{
	color: #0b132b;
	text-decoration: none;
}